<div id="<%= dom_id core_strength_class %>">
  <p>
    <strong>Name:</strong>
    <%= core_strength_class.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= core_strength_class.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= core_strength_class.end_date %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= core_strength_class.timezone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= core_strength_class.description %>
  </p>

  <p>
    <strong>Facilitator:</strong>
    <%= core_strength_class.facilitator_id %>
  </p>

</div>
